* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

.hero__container {
  background-color: #392756;
  color: #d8d8d8;
  display: flex;
  height: 100%;
  padding-bottom: 10px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.hero__title {
  font-size: 50px;
  padding: 100px;
  padding-bottom: 30px;
}

.hero__current,
.hero__about {
  font-size: 15px;
  padding: 10px;
  padding-left: 100px;
  letter-spacing: 1px;
  line-height: normal;
}

.hero__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin: 0;
}

.hero__top,
.hero__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  height: 50%;
  width: 100%;
  padding: 100px;
}

.details__container {
  display: flex;
  align-items: flex-start;
  background-color: #efefef;
  color: #000000;
}

.left__content {
  font-size: 30px;
  width: 30%;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 20px;
  position: sticky;
  top: 0;
}

.right__content {
  font-size: 15px;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: auto;
}


.list__container {
  color: #494949;
  font-size: 10px;
  padding: 20px;
  padding-left: 20px;
}

.list__item {
  font-size: 15px;
  margin: 5px 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
  padding: 2px;
}

.list__item:hover {
  background-color: #8f8f8f3e;
  cursor: pointer;
  scale: 1.01;
}

.project-name{
    font-size: 20px;
}

.project-date {
  font-size: 15px;
  color: gray;
  float: right;
}

.project-description {
  font-size: 14px;
  color: #666;
}

.detail__box {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 200px;
  height : 200px;
  padding: 10px;
}

.detail__box:hover {
  background-color: #8f8f8f;
  cursor: pointer;
}

.number {
  font-size: 50px;
}

.number2 {
  font-size: 20px;
}

.number, .number2 {
  padding-left: 20px;
}

.footer__container {
  background-color: #8b3232;
  padding: 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.footer__left,
.footer__right {
  background-color: #8f8f8f;
  color: #000000;
  font-size: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.footer__right {
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .details__container {
    flex-direction: column;
    height: auto;
  }

  .left__content {
    width: 100%;
    position: relative;
    padding: 10px;
  }

  .right__content {
    width: 100%;
  }
  
  .detail__box{
    padding: audo;
    height: auto;
    width: auto;
  }

}